<div class="container">

        <div class="row"> 
          <div class="col-xs-12">
            <ul class="list-group">
              <app-appareil *ngFor="let appareil of appareils"
              [appareilName] = "appareil.name"
              [appareilStatus] = "appareil.status"
              [appareilIndex] = "appareil.index"> </app-appareil>
            </ul>
      
            
      
            <button class="btn btn-success" [disabled] = !isAuth (click) = onAllumer()> Tout allumer</button>
            <button class="btn btn-danger" (click) = onEteindre()> Tout éteindre</button>
          </div>
        </div>
      </div>